@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable-Italic.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Urbanist';
    src: url(./fonts/Urbanist-VariableFont_wght.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Urbanist';
    src: url(./fonts/Urbanist-Italic-VariableFont_wght.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: azure;
}

a, p {
    font-family: 'Urbanist', serif;
    font-weight: 550;
    color: azure;
}

.intro-card {
    background-color: #7bb2ff;
    display: flex;
    flex-direction: column;
    padding: 36px 76px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

.header-links, a {
    display: flex;
    gap: 48px;
    list-style-type: none;
    text-decoration: none;
    font-size: 24px;
    color: azure;
}

.intro-content {
    display: flex;
    gap: 48px;
    padding: 48px 0;
}

.intro-text-and-button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

.intro-button {
    background-color: #2a2a2a;
    border-radius: 12px;
    padding: 10px 24px;
    margin-top: 10px;
    display: inline-block;
    width: 10em;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    color: azure;
}

.info-card {
    background-color: #dbc091;
    display: flex;
    flex-direction: column;
    padding: 36px 76px;
}

.info-title {
    text-align: center;
    margin-bottom: 36px;
}

.info-points {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    margin-bottom: 12px;
}

.item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.quote-card {
    background-color: #4575b9;
    padding: 36px 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-text {
    font-family: 'Inter', sans-serif;
    padding: 64px 64px 12px 64px;
    font-weight: 200;
    font-size: 48px;
}

.quote-origin {
    padding: 0px 64px 48px 0px;
    font-weight: bold;
    font-size: 20px;
    align-self: flex-end;

}

.action-card {
    background-color: #7bb2ff;
    padding: 48px 128px;
}

.action {
    background-color: #2a2a2a;
    padding: 36px 76px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

.action-text h2 {
    display: flex;
    gap: 4px;
}

.action-text p {
    font-size: 20px;
}

#asterisk {
    font-size: 20px;
    align-self: flex-start;
}

.action-button {
    align-self: center;
    padding: 6px 56px;
    outline: 4px solid azure;
    border-radius: 12px;
}

.note {
    font-weight: 200;
    margin-top: 12px;
    padding-right: 48px;
}

.footer {
    background-color: #7bb2ff;
    padding: 20px;
}

#footer-text {
    text-align: center;
    font-weight: 200;
    font-size: 16px;
}